.sections-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/icons/icecubes.jfif");
}

.proofs {
    width: 900px;
    background-image: none;
}

.orders {
    width: auto;
}