:root {
    /*Colores*/
    --azulito: #71a0b0;
    --blanquito: #ccd7dc;
    --warm-black: #201E1C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    min-width: 320px
}

.topnav {
    background-color: var(--azulito);
}

.logo img{
    padding: 5px 0 0 5px;
    width: 120px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

.nav-right--item{
    display: flex;
    list-style: none;
    width: 90%;
    
}

.nav-item--link:hover{
    background-color: #365964 ;
}

.nav-item--link{
    margin: 0 auto;
}

.nav-item--link a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.topnav a.icon {
    margin: 5px 5px 0 0;
    width: 45px;
    height: 40px;
    background-image: url("../assets/icons/list.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 2px;
    box-shadow: 0px 3px rgba(38, 79, 133, 0.16);
}
  
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--blanquito) 16.69%, var(--azulito) 100%);
}

.intro img{
    width: 130px;
}
.intro h1 {
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    align-self: center;
    color: #303030;
    font-weight: bold;
    font-size: 2.4rem;
    border-radius: 10px;
    box-shadow: 1px 5px 50px rgba(43, 45, 75,0.25);
}

.intro p{
    padding: 10px auto;
    font-size: 1.4rem;
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;/*El mismo texto delimita el crecimiento*/
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: white;
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.contacto {
    position: relative;
    min-height: 200px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto .contenido {
    max-width: 800px;
    text-align: center;
}

.contacto .contenido h2 {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.contacto .contenido p {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor .contactoInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contenedor .contactoInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contenedor .contactoInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contenedor .contactoInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contenedor .contactoInfo .box .text h3{
    font-weight: 300;
    color: var(--azulito);
}

.order-form {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.order-form h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.order-form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.order-form .inputBox input, .order-form .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    font-family: 'DM Sans';
}

.order-form .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.order-form .inputBox input:focus::placeholder,
.order-form .inputBox textarea:focus::placeholder {
    color: var(--azulito);
    font-size: 12px;
    transition: 0.5s;
}

button {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 19px;
    margin-top: 10px;
    display: block;
    float: right;
}
/*
.select {
    width: auto;
    border: 1px solid #3F51B5;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 15px;
    cursor: pointer;
    line-height: 1.1;
    display: grid;
}


button {
    appearance:none;
    -webkit-appearance:none;
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:50%;
    margin-left: right;
}
