.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.haccp{
    position: absolute;
    left: 90%;
    top: 30px;
}

.topnav{
    display: flex;
    justify-content: space-between;
}

.topnav .nav-right .icon{
    display: none;
}

.topnav #myLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item--link{
    width: auto;
    padding: 0 10px;
}

.logo img{
    margin-left: 40px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:5px;
	right:5px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}